ASPNETCORE_ENVIRONMENT=Development
SERVER_PORT=5184
CLIENT_ORIGIN=http://localhost:5173
JWT__KEY=REPLACE_WITH_SECRET_IN_ENVIRONMENT
JWT__ISSUER=SmartAxiaInternManager
JWT__AUDIENCE=SmartAxiaInternManagerClient
DATABASE_PATH=app.db
SQLSERVER_INSTANCE=.\SQLEXPRESS
EMAIL__HOST=localhost
EMAIL__PORT=25
EMAIL__USERNAME=
EMAIL__PASSWORD=
EMAIL__FROMADDRESS=no-reply@axia.local
EMAIL__FROMNAME=Axia Intern Manager
EMAIL__USESSL=false
SUPERADMIN_EMAIL=REPLACE_WITH_SUPERADMIN_EMAIL
SUPERADMIN_PASSWORD=REPLACE_WITH_SUPERADMIN_PASSWORD
SUPERADMIN_FIRSTNAME=REPLACE_WITH_SUPERADMIN_FIRSTNAME
SUPERADMIN_LASTNAME=REPLACE_WITH_SUPERADMIN_LASTNAME
