ASPNETCORE_ENVIRONMENT=Development
SERVER_PORT=5184
JWT__KEY=change_me_in_dev
JWT__ISSUER=SmartAxiaInternManager
JWT__AUDIENCE=SmartAxiaInternManagerClient
DATABASE_PATH=app.db
SQLSERVER_INSTANCE=.\SQLEXPRESS
SUPERADMIN_EMAIL=admin@axia.com
SUPERADMIN_PASSWORD=Admin@1234
SUPERADMIN_FIRSTNAME=Super
SUPERADMIN_LASTNAME=Admin
