ASPNETCORE_ENVIRONMENT=Development
SERVER_PORT=5184
CLIENT_ORIGIN=http://localhost:5173
JWT__KEY=REPLACE_WITH_SECRET_IN_ENVIRONMENT
JWT__ISSUER=AxiaInternManager
JWT__AUDIENCE=AxiaInternManagerClient
DATABASE_PATH=app.db
SQLSERVER_INSTANCE=.\SQLEXPRESS
SUPERADMIN_EMAIL=REPLACE_WITH_SUPERADMIN_EMAIL
SUPERADMIN_PASSWORD=REPLACE_WITH_SUPERADMIN_PASSWORD
SUPERADMIN_FIRSTNAME=REPLACE_WITH_SUPERADMIN_FIRSTNAME
SUPERADMIN_LASTNAME=REPLACE_WITH_SUPERADMIN_LASTNAME
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_ENABLE_SSL=true
EMAIL_USERNAME=yourname@gmail.com
EMAIL_FROM_ADDRESS=yourname@gmail.com
EMAIL_FROM_NAME=YourAppName
EMAIL_PASSWORD=your-gmail-app-password-here
